<p class="lead">Greetings everybody and welcome to VolgaCTF 2016 Quals!</p>

<p class="lead">To take part in the competition, you should sign up with email, team name and logo. <strong>Warning!</strong> You won't be able to change the team name so please <a href="https://ctftime.org/stats/" target="_blank">be careful</a> in order to avoid conflicts with other teams. The number of team members is not limited.</p>

<p class="lead">Please specify a valid email address to get verification email. It will be <strong>impossible</strong> to change the email adress after you confirm your participation by clicking the link in the verification email.</p>

<p class="lead">Also, we ask you to specify your country in the registration form - we are going to collect this information for our statistics.</p>

<p class="lead">Russian teams are kindly advised to fill institution field.</p>

<p class="lead">The contest starts on March 25 at 19:00 SAMT/15:00 UTC and lasts for 48 hours. During the competition we will add new tasks. Check the <a href="/news" target="_blank">News</a> page periodically - there might be some important pieces of information about the competition. We'll also provide you with a link to Telegram channel before the start of the competition in order to answer your questions and make other announcements.</p>

<p class="lead">Teams are forbidden to perform destructive actions against competition infrastructure (<code>*.volgactf.ru</code> and <code>*.volgactf.org</code>) and prevent other teams to play. A team may be disqualified for breaking the rules.</p>

<p class="lead">Top teams will be invited to take part in VolgaCTF 2016 Finals which will be held on September 12-16 in <a href="https://www.google.ru/maps/place/Samara,+Samara+Oblast/@53.260908,50.198077,10z/data=!3m1!4b1!4m2!3m1!1s0x416618e22bd879d3:0xba95cda9bb3a030b" target="_blank">Samara, Russia</a>. We will invite teams from higher educational institutions: 5 teams from the <a href="https://en.wikipedia.org/wiki/Volga_Federal_District" target="_blank">Volga Federal District</a>, 4 teams from the other regions of <a href="https://en.wikipedia.org/wiki/Russia" target="_blank">Russian Federation</a> and 3 foreign teams (hopefully). We have another restriction - only one team from one higher educational institution.</p>

<p class="lead">We reserve the right to amend these regulations, order of tasks opened and the final round regulations.</p>
