<div class="container">
    <div class="pull-left">
        <ul class="list-unstyled text-left">
            <li><span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;<script>document.write((new Date()).getFullYear())</script>&nbsp;<a href="https://github.com/aspyatkin/themis-quals" target="_blank">Themis Quals</a> &amp; <a href="https://volgactf.ru" target="_blank">VolgaCTF</a></li>
            <li>Proudly made by <a href="https://github.com/aspyatkin" target="_blank">Alexander Pyatkin</a> and contributors</li>
        </ul>
    </div>
    <div class="pull-right">
        <!-- Extra links -->
        <ul class="list-unstyled text-right">
            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;<a href="mailto:support@volgactf.ru">support@volgactf.ru</a></li>
            <li><a href="https://twitter.com/VolgaCTF" target="_blank">@VolgaCTF</a></li>
        </ul>
    </div>
</div>
