Hello, {{{ name }}}!

Welcome to VolgaCTF 2016 Quals!

We just need to verify your email address.
Please navigate to https://{{{ domain }}}/verify-email?team={{{ team }}}&code={{{ code }}} in your browser.

Regards,
VolgaCTF team.
